appdirs==1.4.4
attrs==21.4.0
Brotli==1.0.9
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
dash==2.3.1
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.1.1
Flask-Compress==1.11
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
pandas==1.4.1
plotly==5.6.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-cache==0.9.3
six==1.16.0
tenacity==8.0.1
url-normalize==1.4.3
urllib3==1.26.9
Werkzeug==2.1.0
whitenoise==6.0.0
zipp==3.7.0
